@{
    ViewData["Title"] = "SmartVoltCalculator";
}

<div x-data="calculator">
    <h5><span x-text="label" class="text-white"></span></h5>
</div>

@section Scripts
{
    <script src="/js/smartVoltCalculator/index.js"></script>
}